@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

 #containers
{
   min-height: 100vh;
} 

#dashboard
{
   
    background-color:#202124;
    
}

#header
{
    width:auto;
    margin-top: 0;
    background-color: #f5f0f6;
    box-shadow: 20px 5px 5px black;
    overflow: hidden;
    height:100px;
    display: flex;
    justify-content: space-between;
    
}

#logout
{
    background-color: #0067B8; 
    color:white;
    outline: none;
    font-size: 16px;
    border: none;
    margin-left: 50px;
    width:120px;
    border-radius: 20px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    float: right;

    
}
#logout:hover
{
    background-color: #045ca0;
}

h3{
    margin-left: 40px;
    margin-top: 25px;
    color:#323031;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

#inp
{
    text-align: center;
    margin-top: 50px;
}

#title
{
    height: 3rem;
    border-radius: 16px;
    border:white 0.5px solid;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    width: 400px;
    display:none;
    float: bottom;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;


}
#notes {
resize:none;
/* min-height: 80px;  */
height: 200px;
width: 400px;
padding-left: 20px;
display: inline-block;
border:0.5px solid white;
border-top:0px;
font-size: 20px;
outline: none;

border-bottom-left-radius: 23px;
border-bottom-right-radius: 23px;
border-top-left-radius: 23px;
border-top-right-radius: 23px;


}

/* ::placeholder
{
    color:black;
} */
#add
{
    background-color: #0067B8; 
    color:white;
    outline: none;
    font-size: 16px;
    border: none;
    width:120px;
    border-radius: 20px;
    height: 40px;
    margin-top: 20px;
}

#content
{
    display: flex;
    flex-grow: auto;
    margin-left:70px;
    justify-content: flex-start;
    flex-wrap: wrap;
    
  
} 

#namess{
    font-size: 30px;
    color:'black';
    font-family: 'Cinzel', serif;
    
    
}

#nn
{
    display: flex;
    
}