@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

 #containers
{
   min-height: 100vh;
} 

#dashboard
{
    background-image: url('./pawel-czerwinski-3-bDL0iRcbI-unsplash-1.jpg');
    background-size: cover;
  
 
    
}

#header
{
    width:auto;
    margin-top: 0;
    background-image: url('./joanna-kosinska-1_CMoFsPfso-unsplash-1.jpg'); 
    position:sticky;
    background-size: cover;
    box-shadow: 20px 5px 5px black;
    overflow: hidden;
    height:100px;
    display: flex;
    justify-content: space-between;
    
}

#logout
{
    background-color: rgb(243, 117, 34); 
    color:white;
    outline: none;
    font-size: 16px;
    text-shadow: 1px 1px black;
    box-shadow: black 1px 2px;
    border: none;
    margin-left: 50px;
    width:120px;
    border-radius: 20px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    float: right;

    
}
#logout:hover
{
    background-color: rgb(247, 103, 7);
}

h3{
    margin-left: 40px;
    margin-top: 25px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

#inp
{
    text-align: center;
    margin-top: 50px;
}

#title
{
    height: 3rem;
    border-radius: 16px;
    border:#eebb2f 0.5px solid;
    border-bottom: white;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    width: 400px;
    display:none;
    float: bottom;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    box-shadow: 1px 2px #eebb2f;
    background-color: #dedede9d;
    
    



}
#notes {
resize:none;

height: 200px;
width: 400px;
padding-left: 20px;
display: inline-block;
border:0.5px solid #ecb726;
border-top:0px;
font-size: 20px;
outline: none;
border-bottom-left-radius: 23px;
border-bottom-right-radius: 23px;
border-top-left-radius: 23px;
border-top-right-radius: 23px;
box-shadow: 1px 2px #eebb2f;
background-color: #dedede71;





}


#add
{
    background-color: #017CFA; 
    color:white;
    outline: none;
    font-size: 16px;
    border: none;
    width:120px;
    border-radius: 20px;
    height: 40px;
    margin-top: 20px;
    box-shadow: black 1px 2px;
}

#add:hover {
    background-color: #1575d4;
}

#content
{
    display: flex;
    flex-grow: auto;
    margin-left:70px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 100px;
    
  
} 

#namess{
    font-size: 28px;
    color:#1d82db;
    font-family: 'Cinzel', serif;
    text-shadow: 1px 1px #073e6e ;
    
    
}

#nn
{
    display: flex;
    
}