
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
#login
{
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
    width: 500px;
    border: 1px #E9E9E9 outset;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Noto Serif', serif;
    
    box-shadow: #363636 5px 5px 2px;
    
}
#container
{
    background-image: url('./top-view-photo-of-coffee-cup-on-yellow-surface-3803950.jpg');
    background-size:cover;
   overflow: hidden;
   height: 100vh;
   max-width: 100%;

}
h2{

    font-size: 30px;
    font-family: 'Amiri', serif;
    color:#4d4a4a;
}

#email1
{
    border: none;
    width:80%;
    font-size: 20px;
    outline: none;
    border-bottom: rgb(56, 55, 55) 1px solid;
    line-height: 20px;
    margin-top: 40px;
}
#password1
{
    line-height: 20px;
    border: none;
    width:80%;
    font-size: 20px;
    outline: none;
    border-bottom: rgb(56, 55, 55) 1px solid;
    
}
#log
{
    background-color: #0067B8; 
    color:white;
    outline: none;
    font-size: 16px;
    border: none;
    margin-left: 100px;
    width:120px;
    border-radius: 5px;
    height: 40px;
    margin-top: 10px;
}
#log:hover
{
    background-color: #045ca0;
}

#sbn 
{
    display: inline;

}
 

  p{
      text-align: left;
      margin-left: 30px;
      color:#80868b;
      margin-top: 40px;
    
      padding-bottom: -30px;
  }

  h4{
      color: rgb(223, 94, 94);
  }


  #logo-1
  {
      margin-left: 50px;
      width: 120px;
      height: 110px;
    
  }
  

  
  #img
  {
      text-align: center;
      margin-top: 50px;
    

  }
  h3
  {
      margin-top: 30px;
      font-family: 'Dancing Script', cursive;
      font-weight: bold;
      font-size: 60px;
      color: rgb(231, 37, 37);
  }
  @media only screen and (max-width:500px)
  {
      #login
      {
          margin-top: 90px;
          width: 370px;
          height: 380px;

      }
      #log
      {
          width:90px;
          height: 35px;
      }

      #email1
      {
          font-size: 17px;
      }

      #password1
      {
          font-size: 17px;
      }

      #container
      {
          background-image: url('./ScreenShot_20200712182605.png');
          background-size: cover;
      }

      h3
  {
      margin-top: 30px;
      font-family: 'Fredericka the Great', cursive;
      font-weight: bold;
      font-size: 40px;
      color: rgb(231, 37, 37);
  }
  }