/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

html
{
    background-color: #f2f2f2;
    
}


#nk
{
    text-align: center;
    margin-top: 30px;
}

.container
{
    background-image: url('./top-view-photo-of-coffee-cup-on-yellow-surface-3803950.jpg');
     background-size:cover;
    overflow: hidden;
    height: 100vh;
    max-width: 100%;


}
.login
{
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
    width: 500px;
    border: 1px #E9E9E9 outset;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Noto Serif', serif;
    
    box-shadow: #363636 5px 5px 2px;
    


}
h3
  {
      margin-top: 30px;
      font-family: 'Fredericka the Great', cursive;
      font-weight: bolder;
      font-size: 60px;
      color: rgb(231, 37, 37);
  }



h2{

    font-size: 30px;
    font-family: 'Amiri', serif;
    color:#4d4a4a;
    margin-top: 20px;
}

#email
{
    border: none;
    width:80%;
    font-size: 20px;
    outline: none;
    border-bottom: rgb(56, 55, 55) 1px solid;
    line-height: 20px;
    
}
#password
{
    line-height: 20px;
    border: none;
    width:80%;
    font-size: 20px;
    outline: none;
    border-bottom: rgb(56, 55, 55) 1px solid;
    
}
#confirm_password
{
    line-height: 20px;
    border: none;
    width:80%;
    font-size: 20px;
    outline: none;
    border-bottom: rgb(56, 55, 55) 1px solid;
    
}
#name
{
    line-height: 20px;
    border: none;
    width:80%;
    font-size: 20px;
    outline: none;
    border-bottom: rgb(56, 55, 55) 1px solid;
    margin-top: 70px;
    
}


#email:focus
{
    border:none;
    border-bottom: #0067B8 1px solid;
    
    
}
#password:focus
{
    border:none;
    border-bottom: #0067B8 1px solid;
    
    
}
#confirm_password:focus
{
    border:none;
    border-bottom: #0067B8 1px solid;
     
}

#name:focus
{
    border:none;
    border-bottom: #0067B8 1px solid;
     
}

#sign
{
    background-color: #0067B8; 
    color:white;
    outline: none;
    border: none;
    margin-left: 100px;
    margin-top: 15px;
    width:100px;
    border-radius: 5px;
    height: 30px;
}
#sign:hover
{
    background-color: #045ca0;
}

#sbtn 
{
    display: inline;
}


#err
{
    font-size: 17px;
    color: rgb(223, 94, 94);
}

@media only screen and (max-width:500px)
{
    .login
    {
        margin-top: 90px;
        width: 370px;
        height: 380px;
    }
    #sign
    {
        width: 85px;
      
    }
    #name
    {
        font-size: 16px;
    }
    #email
    {
        font-size: 16px;
    }
    #password
    {
        font-size: 16px;
    }
    #confirm_password
    {
        font-size: 16px;
    }

    .container
    {
        background-image: url('./ScreenShot_20200712182605.png');
        background-size: cover;
    }
    #pick
    {
        margin-top: 30px;
        font-family: 'Fredericka the Great', cursive;
        font-weight: bold;
        font-size: 40px;
        color: rgb(231, 37, 37);
    }
}